# JetBrains project files
.idea

# NPM
node_modules

# NativeScript application
hooks
platforms
release/*.apk
.gradle

# timeline profiling
times.html

.migration_backup
.update_backup
yarn-error.log

# script backups
app_backup.gradle
package_backup.json
settings_backup.json
nativescript_google_maps_api.xml