/* default text color in info window */
.gm-style-iw {
  color: black;
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.g-control,
.g-button {
  line-height: 38px;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  background-color: white;
  color: black;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin: 1px;
}

.g-button:hover {
  background-color: #ebebeb;
}

.g-control[g-position='TOP_LEFT'],
.g-control[g-position='TOP_CENTER'],
.g-control[g-position='TOP_RIGHT'] {
  margin-top: 10px;
}

.g-control[g-position='LEFT_TOP'],
.g-control[g-position='LEFT_CENTER'],
.g-control[g-position='LEFT_BOTTOM'] {
  margin-left: 10px;
}

.g-control[g-position='RIGHT_TOP'],
.g-control[g-position='RIGHT_CENTER'],
.g-control[g-position='RIGHT_BOTTOM'] {
  margin-right: 10px;
}

.g-control[g-position='BOTTOM_LEFT'],
.g-control[g-position='BOTTOM_CENTER'],
.g-control[g-position='BOTTOM_RIGHT'] {
  margin-bottom: 20px;
}

/* removes square outline when clicking on the cluster */
.gmap-map .cluster:focus,
.gmap-map .cluster > img:focus,
.gmap-map .cluster > div:focus {
  outline: none;
}

/* this hides the map copyright */
.gmap-map[hide-info] .gmnoprint {
  display: none;
}

/* hide report a bug */
.gmap-map[hide-info] .gm-style-cc {
  display: none;
}

/* this hides the big google logo */
.gmap-map[hide-info] img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"]
{
  display: none;
}
