.green-icon .hx-icon {
  stroke: green;
}

.orange-icon .hx-icon {
  stroke: orange;
}

.yellow-icon .hx-icon {
  stroke: yellow;
}

.red-icon .hx-icon {
  stroke: red;
}

.grey-icon .hx-icon {
  stroke: grey;
}

/* asset colors */
.asset-icon.ready .primary-icon svg,
.asset-icon.ready > svg {
  stroke: green;
}

.asset-icon.process .primary-icon svg,
.asset-icon.process > svg {
  stroke: orange;
}

.asset-icon.standby .primary-icon svg,
.asset-icon.standby > svg {
  stroke: white;
}

.asset-icon.down .primary-icon svg,
.asset-icon.down > svg {
  stroke: gray;
}

.asset-icon.requires-update .primary-icon svg,
.asset-icon.requires-update > svg {
  stroke: cadetblue;
}

/* secondary icon colors */
.asset-icon .secondary-icon #alert_icon {
  stroke-width: 1.5;
  stroke: orange;
}

.asset-icon .secondary-icon #tablet_icon {
  stroke-width: 0.5;
  stroke: orange;
  stroke-dasharray: 1;
}

.asset-icon .secondary-icon #error_icon {
  stroke-width: 1.5;
  stroke: red;
}

.asset-icon .secondary-icon #no_wifi_icon {
  stroke-width: 4;
  stroke: orange;
}
