.toasted-container.top-right {
  top: 8%;
  right: 5%;
}

.toasted-container {
  font-family: 'GE Inspira Sans', sans-serif;
}

.toasted-container .hx-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.toasted-container .hx-icon svg {
  stroke-width: 1.5;
}

/* custom toast types */
.toasted-container .toasted.info {
  background-color: #425866;
}

.toasted-container .toasted.error,
.toasted-container .toasted.no-comms {
  background-color: #5e0000;
}

.toasted-container .toasted.no-comms .icon svg {
  stroke: orange;
}
