/* theme of the toast */
.toasted.hx-toast {
  border-radius: 2px;
  min-height: 38px;
  line-height: 1.1em;
  background-color: #353535;
  padding: 6px 20px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.toasted.hx-toast .action {
  color: #a1c2fa;
}

.toasted-container.top-right {
  top: 8%;
  right: 5%;
}

.toasted-container {
  font-family: 'GE Inspira Sans', sans-serif;
}

.toasted-container .hx-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.toasted-container .hx-icon svg {
  stroke-width: 1.5;
}

/* custom toast types */
.toasted-container .toasted.info {
  background-color: #425866;
}

.toasted-container .toasted.error,
.toasted-container .toasted.no-comms {
  background-color: #5e0000;
}

.toasted-container .toasted.no-comms .icon svg {
  stroke: orange;
}
